* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

///////////////////////////HEADER///////////////////////////
header {
    width: 100%;
    background-color: #000;
    display: flex;

    .header-logo {
        text-transform: uppercase;
        color: #FFF;
        font-weight: 800;
        font-size: 24px;
        cursor: pointer;
        margin-top: 40px;
        margin-left: 10%;
    }

    nav {
        margin-top: 40px;
        margin-left: 30%;

        .top-nav {
            a {
                color: #FFF;
                text-align: center;
                padding: 10px 15px;
                font-size: 14px;
                font-weight: bold;

                &:hover {
                    border-bottom: 3px solid #fcac45;

                }
            }

            .icon {
                display: none;
            }
        }
    }
}

///////////////////////////MAIN SECTION///////////////////////////
.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #000;

    .welcome {

        text-align: center;
        padding: 200px 0 400px 0;

        h1 {
            color: #999999;
            font-size: 44px;

            .mycompany {
                color: #fcac45;
            }

        }

        p {
            color: #999999;
            font-size: 20px;

            b {
                color: #c1bfc0;
            }
        }
    }
}

///////////////////////////SECTION ABOUT///////////////////////////
.about {
    width: 75%;
    margin: 0 auto;
    display: flex;
    padding: 100px 0;

    .about-right {
        margin-left: 170px;

        h1 {
            display: inline-block;
            border-bottom: 3px solid #fcac45;
            padding-bottom: 15px;

            span {
                font-weight: 400;
            }
        }

        p {
            padding: 30px 0 40px 0;
            color: #6c6c6c;

        }

        ul {
            color: #5a5a5a;

            li {
                padding-left: 25px;
                margin-top: 10px;

                i {
                    font-size: 14px;
                }
            }
        }
    }

    .mw-100 {
        min-width: 100%;
    }

}

///////////////////////////SECTION TEAM///////////////////////////

.team {

    background-color: #000;
    text-align: center;
    padding: 100px 0 165px 0;
    color: #FFF;

    h1 {
        font-size: 44px;
        padding-bottom: 10px;
    }


    .team-cards {
        width: 75%;
        margin: 0 auto;
        display: flex;

        .card {
            margin: 0 30px;

            .photo {
                background-color: #d7d7d7;
                height: 125px;
                width: 125px;
                border-radius: 50%;
                margin: 20px auto;
            }

            .name {
                font-size: 20px;
                margin-bottom: 7px;
            }

            .position {
                font-size: 16px;
                margin-bottom: 30px;
            }

            .about-position {
                font-size: 14px;
            }
        }
    }
}

.line {
    width: 100px;
    height: 3px;
    background-color: #fcac45;
    position: relative;
    left: 46.5%;
    margin-bottom: 40px;
}


///////////////////////////SECTION SERVICES///////////////////////////
.services {
    width: 75%;
    margin: 0 auto;
    padding: 50px 0;

    h1 {
        text-align: center;
        padding-bottom: 10px;
    }

    p {
        color: #6c6c6c;
        margin-bottom: 50px;

    }

    .services-cards {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-column-gap: 20px;

        .services-card {
            h4 {
                margin: 10px 0;
            }

            .services-icon {
                width: 100px;
                height: 100px;
                margin: 0 auto;
                border: 3px solid #fcac45;
                border-radius:50%;
                display: table;
				&:hover{
					transition: .6s;
					border:3px solid black;
				}
                i {
                    font-size: 54px;
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
    }
}

///////////////////////////MEDIA///////////////////////////
@media screen and (max-width: 1170px) {
    header {
        nav {
            margin-left: 20%;
        }
    }
}

@media screen and (max-width: 1070px) {
    header {
        nav {
            width: 100%;

            .top-nav {
                a {
                    display: none;
                }

                .icon {
                    float: right;
                    margin-top: -17px;
                    display: block;
                    color: #FFF;
                    font-size: 25px;
                }

                &.responsive {
                    position: relative;
                    top: 50px;
                    left: -270px;
                    /* height: 340px; */

                    a {
                        float: none;
                        display: block;
                        text-align: left;

                        &.icon {
                            position: absolute;
                            top: -50px;
                            right: -270px;
                        }
                    }
                }
            }
        }
    }

    .about {
        flex-direction: column;
        padding: 50px 0 50px 0;

        .mw-100 {
            max-width: 100%;
        }

        .about-right {
            margin-left: 0;
            text-align: center;

            p {
                font-size: 14px;
            }

            h1 {
                font-size: 20px;
                margin-top: 10px;
            }

            li {
                text-align: left;
            }
        }
    }

    .services {
        .services-cards {
            grid-template-columns: repeat(2, auto);
        }
    }

}

@media screen and (max-width: 870px) {
    .team {
        .line {
            left: 44%;
        }

        .team-cards {
            flex-direction: column;
        }
    }

    .services {
        .services-cards {
            grid-template-columns: auto;
        }
    }
}